<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Estratificação Movimentos</title>
    <link rel='stylesheet' href='/public/stylesheets/estratificacaoStyle.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"> 
  </head>
  <div class="header">
    <div class="center">
      <h1>Estratificação Movimentos</h1>
    </div>
  </div>
  <body>
    <div class="container">
      <div class="row">
        <table id="example" class="table table-striped" style="width:100%">
          <thead>
            <tr>
                <th>Nome</th>
                <th>Responsável</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Tipo</th>
                <th>Projeto</th>
            </tr>
          </thead>
          <form action="<%=acao%>" method="post">
            <tbody>
              <% movimentos.forEach(function(movimento){ %>  
                <tr>
                    <td><%= movimento.mov_nome%></td>
                    <td><%= movimento.mov_responsavel%></td>
                    <td><%= movimento.mov_data%></td>
                    <td><%= movimento.mov_valor%></td>
                    <td><%= movimento.mov_tipo%></td>
                    <td><%= movimento.mov_projeto%></td>
                    <td><a href="/alterarMovimento/<%= movimento.mov_codigo %>">Alterar</a></td>
                </tr>
            <% }) %>
          </tbody>
        </form>
      </table>
      </div>
    </div>

  <script src="/views/estratificacaoJS.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script> 
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script> 
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  </body>
</html>