<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>DashBoard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <tbody>
      <tr>
        <td>
          <a href="/cadastrarProjeto">Projetos</a>
        </td>
      </tr>

      <br>
      <br>
        <% projetos.forEach(function(projeto){ %>  
            <tr>
              <%= projeto.proj_nome %>
              <td colspan="4">
                <a href="/alterarProjeto/<%= projeto.proj_codigo %>">Alterar</a>
                <td> <a href="/lancarMovimentos/<%= projeto.proj_codigo %>">Lançar Movimentos1 </a></td>
              </td>
            </tr>
          <br>
        <% }) %>

      <tr>
        <td>
          <a href="/cadastrarIntegrante">Integrantes</a>
        </td>
      </tr>
      <br>
      <br>
        <% integrantes.forEach(function(integrante){ %>  
            <tr>
              <%= integrante.int_nome %>
              <td colspan="4">
                <a href="/alterarIntegrante/<%= integrante.int_codigo %>">Alterar</a>
              </td>
            </tr>
          <br>
        <% }) %>
        <br>
        <br>
       <!-- <tr>
          <td> <a href="/lancarMovimentos">Lançar Movimentos </a></td>
        </tr>-->
    </tbody>
  </body>
</html>
