<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Manutenção de Integrantes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1> Manutenção de Integrantes</h1>
      
      <form action="<%=acao%>" method="post">
          <table>
              <tr>
                <td>Nome</td>
                <td><input name="edtNome" value="<%=integrante.int_nome%>"> </td>                
              </tr>
              <tr>
                <td>E-mail</td>
                <td><input name="edtEmail" value="<%=integrante.int_email%>"></td>

                <td>Senha</td>
                <td><input name="edtSenha" value="<%=integrante.int_senha%>"></td>

                <td>Telefone</td>
                <td><input name="edtTelefone" value="<%=integrante.int_telefone%>"></td>
              </tr>
              <tr>
                <td> <input name="btnSalvar" type="submit" value="Salvar"> </td>
                <td> <input name="btnRemover" type="button" value="Remover" onclick="location.assign('/excluirIntegrante/<%=integrante.int_codigo%>')"></td>
                <td> <input name="btnCancelar" type="button" value="Cancelar" onclick="location.assign('/')"></td>
              </tr>
          </table>
      </form>
  </body>
</html>