<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Manutenção de Projetos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1> Manutenção de Projetos </h1>
      <form action="<%=acao%>" method="post">
        <table>
          <tr>
            <td>Nome do Projeto</td>
            <td><input name="edtNomeProjeto" value="<%=projeto.proj_nome%>"></td>
          </tr>
          <tr>
            <td>Logradouro</td>
            <td><input name="edtLogradouro" value="<%=projeto.proj_logradouro%>"></td>
            <td>Bairro</td>
            <td><input name="edtBairro" value="<%=projeto.proj_bairro%>"></td>
            <td>Munícipio</td>
            <td><input name="edtMunicipio" value="<%=projeto.proj_municipio%>"></td>
          </tr>
          <tr>
            <td>Data Início</td>
            <td><input name="edtDataInicio" value="<%=projeto.proj_data_inicio%>"></td>
            <td>Gasto Estimado</td>
            <td><input name="edtGastoEstimado" value="<%=projeto.proj_municipio%>"></td>
          </tr>
          <tr>
            <td> <input name="btnSalvar" type="submit" value="Salvar"> </td>
            <td> <input name="btnRemover" type="button" value="Remover" onclick="location.assign('/excluirProjeto/<%=projeto.proj_codigo%>')"></td>
            <td> <input name="btnCancelar" type="button" value="Cancelar" onclick="location.assign('/')"></td>
          </tr>
        </table>
      </form>
  </body>
</html>