<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Manutenção de Integrantes</title>
    <link rel='stylesheet' href='/stylesheets/manutencaoIntegrantesStyle.css' />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>
    <div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="register-form" action="<%=acao%>" method="post"">
									<div class="form-group">
										<input type="text" name="edtNome" value="<%=integrante.int_nome%>" tabindex="1" class="form-control" placeholder="Nome">
									</div>
									<div class="form-group">
										<input type="email" name="edtEmail" value="<%=integrante.int_email%>" tabindex="1" class="form-control" placeholder="E-mail" value="">
									</div>
									<div class="form-group">
										<input type="password" name="edtSenha" value="<%=integrante.int_senha%>" tabindex="2" class="form-control" placeholder="Senha">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input name="btnSalvar" type="submit" value="Salvar" tabindex="4" class="form-control btn btn-register" value="Salvar">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


    <!--!><div class="formIntegrantes">
      <h1> Manutenção de Integrantes</h1>
      
      <form action="<%=acao%>" method="post">
          <table>
            <tr>
              <td>
                <span>Nome</span>
              </td>
            </tr>
            <tr>
              <td>
                <input name="edtNome" value="<%=integrante.int_nome%>"> 
              </td>
            </tr>


            <tr>
              <td>
                <span>E-mail</span>
              </td>
            </tr>
            <tr>
              <td>
                <input name="edtEmail" value="<%=integrante.int_email%>">
              </td>
            </tr>

            <tr>
              <td>
                <span>Senha</span> 
              </td>
            </tr>
            <tr>
              <td>
                <input name="edtSenha" value="<%=integrante.int_senha%>">
              </td>
            </tr>

            <tr>
              <td>
                <span>Telefone</span>
              </td>
            </tr>
            <tr>
              <td>
                <input name="edtTelefone" value="<%=integrante.int_telefone%>">
              </td>
            </tr>    
          </table>
            <input name="btnSalvar" type="submit" value="Salvar"> 
            <input name="btnRemover" type="button" value="Remover" onclick="location.assign('/excluirIntegrante/<%=integrante.int_codigo%>')">
            <input name="btnCancelar" type="button" value="Cancelar" onclick="location.assign('/')">
      </form>
    </div>
  </body>
</html>